{% extends "layout.html" %} {% block title %}Tambah List{% endblock %} {% block content %}
<form action="/lists/{{ lists[0] }}/edit" method=post>
    <div class="mb-13 mt-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" placeholder="Title" name="title" value="{{ lists[1] }}" required>
    </div>
    <div class="mb-3">
        <label for="tag" class="form-label">Tag:</label>
        <input type="number" class="form-control" placeholder="Tag" name="tag" value="{{ lists[2] }}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" placeholder="Decription" name="description" value="{{ lists[3] }}" required>
    </div>
    <div class="mb-3">
        <label for="due_date" class="form-label">Due Date:</label>
        <input type="date" class="form-control" placeholder="Due_date" name="due_date" value="{{ lists[4] }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}