{% extends "layout.html" %} {% block title %} To Do List {% endblock %}

<!-- Replacement for Content -->
{% block content %}
<h3 class="one">To Do List</h3>
<a href="/lists/post" class="btn btn-primary" role="button">Tambah Lists</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID List</th>
            <th scope="col">Title</th>
            <th scope="col">Tag</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for l in lists %}
        <tr>
            <td>{{ l[0] }}</td>
            <td>{{ l[1] }}</td>
            <td>{{ l[2] }}</td>
            <td>{{ l[3] }}</td>
            <td>{{ l[4] }}</td>
            <td>
                <a href="/lists/{{l[0]}}" class="btn btn-success btn-sm">Show Detail</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}